@{
    ViewBag.Title = "Home Page";
}
<div id="indexPage" style="width: 100%; display: inline-block;">
    <div style="float: left; width: 50%; display: inline-block;">
        <div>
            <h2>
                Line Charts Sample</h2>
            <p>
                <a href="/Charts/LineCharts" class="button">Line Charts</a>
            </p>
        </div>
        <div>
            <h2>
                Server Site Line Charts Sample</h2>
            <p>
                <a href="/Charts/ServerLineCharts" class="button">Server Line Charts</a>
            </p>
        </div>
        <div>
            <h2>
                Pie Charts Sample</h2>
            <p>
                <a href="/Charts/PieCharts" class="button">Pie Charts</a>
            </p>
        </div>
        <div>
            <h2>
                Server Site Pie Charts Sample</h2>
            <p>
                <a href="/Charts/ServerPieCharts" class="button">Server Pie Charts</a>
            </p>
        </div>
        <div>
            <h2>
                Column/Bar Charts Sample</h2>
            <p>
                <a href="/Charts/BarCharts" class="button">Column/Bar Charts</a>
            </p>
        </div>
        <div>
            <h2>
                Server Site Column/Bar Charts Sample</h2>
            <p>
                <a href="/Charts/ServerBarCharts" class="button">Server Column/Bar Charts</a>
            </p>
        </div>
    </div>
    <div style="float: right; width: 50%; display: inline-block;">
        <div>
            <h2>
                Charts Add Category/Series Sample</h2>
            <p>
                <a href="/Charts/LoadCharts" class="button">Charts Add Category/Series</a>
            </p>
        </div>
        <div>
            <h2>
                Update Charts Sample</h2>
            <p>
                <a href="/Charts/UpdateCharts" class="button">Update Charts</a>
            </p>
        </div>
        <div>
            <h2>
                Charts Reload Sample</h2>
            <p>
                <a href="/Charts/ReloadCharts" class="button">Reload Charts Click</a>
            </p>
        </div>
        <div>
            <h2>
                Sample</h2>
            <p>
                <a href="#" class="button">Click</a>
            </p>
        </div>
        <div>
            <h2>
                Sample</h2>
            <p>
                <a href="#" class="button">Click</a>
            </p>
        </div>
        <div>
            <h2>
                Sample</h2>
            <p>
                <a href="#" class="button">Click</a>
            </p>
        </div>
    </div>
</div>
