@{
    ViewBag.Title = "Server Column/Bar Charts";
}
<div id="columnChartPage">
    <div>
        <h2>
            Column Chart:</h2>
    </div>
    <div id="columnChart">
    </div>
    <hr />
    <div>
        <h2>
            Bar Chart:</h2>
    </div>
    <div id="barChart">
    </div>
</div>
<script type="text/javascript">

    //    var titleText;
    //    var xAxisCategories;
    //    var yAxisTitleText;
    //    var series = [];

    function GenerateColumnChart() {

        $('#columnChart').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: titleText //'Stacked column chart'
            },
            xAxis: {
                categories: xAxisCategories //['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas']
            },
            yAxis: {
                min: 0,
                title: {
                    text: yAxisTitleText //'Total fruit consumption'
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            },
            legend: {
                align: 'right',
                x: -70,
                verticalAlign: 'top',
                y: 20,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.x + '</b><br/>' +
                        this.series.name + ': ' + this.y + '<br/>' +
                        'Total: ' + this.point.stackTotal;
                }
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                    }
                }
            },
            series: series
            //            series: [{
            //                name: 'John',
            //                data: [5, 3, 4, 7, 2]
            //            }, {
            //                name: 'Jane',
            //                data: [2, 2, 3, 2, 1]
            //            }, {
            //                name: 'Joe',
            //                data: [3, 4, 4, 2, 5]
            //            }]
        });

    }

    function GenerateColumnChart(titleText, xAxisCategories, yAxisTitleText, series) {

        $('#columnChart').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: titleText //'Stacked column chart'
            },
            xAxis: {
                categories: xAxisCategories //['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas']
            },
            yAxis: {
                min: 0,
                title: {
                    text: yAxisTitleText //'Total fruit consumption'
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            },
            legend: {
                align: 'right',
                x: -70,
                verticalAlign: 'top',
                y: 20,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.x + '</b><br/>' +
                        this.series.name + ': ' + this.y + '<br/>' +
                        'Total: ' + this.point.stackTotal;
                }
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                    }
                }
            },
            series: series
            //            series: [{
            //                name: 'John',
            //                data: [5, 3, 4, 7, 2]
            //            }, {
            //                name: 'Jane',
            //                data: [2, 2, 3, 2, 1]
            //            }, {
            //                name: 'Joe',
            //                data: [3, 4, 4, 2, 5]
            //            }]
        });

    }

    function GenerateBarChart(titleText, xAxisCategories, yAxisTitleText, series) {

        $('#barChart').highcharts({

            chart: {

                type: 'bar'

            },

            title: {

                text: titleText //'Stacked bar chart'

            },

            xAxis: {

                categories: xAxisCategories //['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas']

            },

            yAxis: {

                min: 0,

                title: {

                    text: yAxisTitleText //'Total fruit consumption'

                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }

            },

            legend: {

                align: 'right',
                x: -100,
                verticalAlign: 'top',
                y: 20,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false

            },

            tooltip: {

                formatter: function () {
                    return '<b>' + this.x + '</b><br/>' +
                    this.series.name + ': ' + this.y + '<br/>' +
                    'Total: ' + this.point.stackTotal;
                }

            },

            plotOptions: {

                series: {

                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                    }


                }

            },
            series: series
            //            series: [{
            //                name: 'John',
            //                data: [5, 3, 4, 7, 2]
            //            }, {
            //                name: 'Jane',
            //                data: [2, 2, 3, 2, 1]
            //            }, {
            //                name: 'Joe',
            //                data: [3, 4, 4, 2, 5]
            //            }]



        });

    }


    $(document).ready(function () {

        //        $('#columnChart').highcharts({
        //            chart: {
        //                type: 'column'
        //            },
        //            title: {
        //                text: 'Stacked column chart'
        //            },
        //            xAxis: {
        //                categories: ['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas']
        //            },
        //            yAxis: {
        //                min: 0,
        //                title: {
        //                    text: 'Total fruit consumption'
        //                },
        //                stackLabels: {
        //                    enabled: true,
        //                    style: {
        //                        fontWeight: 'bold',
        //                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
        //                    }
        //                }
        //            },
        //            legend: {
        //                align: 'right',
        //                x: -70,
        //                verticalAlign: 'top',
        //                y: 20,
        //                floating: true,
        //                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
        //                borderColor: '#CCC',
        //                borderWidth: 1,
        //                shadow: false
        //            },
        //            tooltip: {
        //                formatter: function () {
        //                    return '<b>' + this.x + '</b><br/>' +
        //                        this.series.name + ': ' + this.y + '<br/>' +
        //                        'Total: ' + this.point.stackTotal;
        //                }
        //            },
        //            plotOptions: {
        //                column: {
        //                    stacking: 'normal',
        //                    dataLabels: {
        //                        enabled: true,
        //                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
        //                    }
        //                }
        //            },
        //            series: [{
        //                name: 'John',
        //                data: [5, 3, 4, 7, 2]
        //            }, {
        //                name: 'Jane',
        //                data: [2, 2, 3, 2, 1]
        //            }, {
        //                name: 'Joe',
        //                data: [3, 4, 4, 2, 5]
        //            }]
        //        });

        $.ajax({
            url: "/Charts/ServerBarChartsData",
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                //console.log(data);
                //alert(data);

                var titleText = data.TitleText;
                var xAxisCategories = data.XAxisCategories;
                var yAxisTitleText = data.YAxisTitleText;
                var series = [];

                for (var index in data.Series) {
                    series.push({
                        name: data.Series[index].SeriesName,
                        data: data.Series[index].SeriesDatas
                    })
                    //console.log(data.Series[serie].SeriesName);
                    //console.log(data.Series[serie].SeriesDatas);
                }

                //GenerateColumnChart();
                GenerateColumnChart(titleText, xAxisCategories, yAxisTitleText, series);

                GenerateBarChart(titleText, xAxisCategories, yAxisTitleText, series);

            },
            error: function (objAjaxRequest, strError) {
                var respText = objAjaxRequest.responseText;
                console.log(respText);
                //alert(respText);
            }

        });

    });

</script>
